<!-- about.component.html -->

<section class="container mt-5">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <h2 class="text-primary">About Us</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus mattis
          libero vitae neque fermentum, id aliquam nisl tincidunt.
        </p>
        <p>
          Sed auctor vestibulum risus, eu vulputate elit bibendum nec. Praesent ac
          semper neque, nec feugiat ex.
        </p>
      </div>
      <div class="col-lg-6">
        <img src="assets/logo.png" alt="About Us" class="img-fluid rounded-circle mx-auto d-block">
      </div>
    </div>
  </section>
  
  <section class="bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body">
              <h5 class="card-title">Our Mission</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus
                ultrices augue, sit amet vestibulum neque consequat at.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body">
              <h5 class="card-title">Our Vision</h5>
              <p class="card-text">
                Sed auctor vestibulum risus, eu vulputate elit bibendum nec. Nulla
                facilisi. Pellentesque in lacinia dolor.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body">
              <h5 class="card-title">Our Values</h5>
              <p class="card-text">
                Vivamus auctor orci eu leo iaculis, in fringilla dui laoreet. Fusce
                in interdum metus.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  