<nav id="sidebar" class="bg-dark">
    <ul class="list-unstyled components d-flex  flex-column">
        <li class="active">
            <a routerLink="/">
                <i class="fa fa-home"></i>
                Home
            </a>
        </li>
        <li>
            <a routerLink="/services">
                <i class="fa fa-cogs"></i>
                Services
            </a>
        </li>
        <li>
            <a routerLink="/contact">
                <i class="fa fa-phone"></i>
                Contact
            </a>
        </li>
        <li>
            <a routerLink="/about">
                <i class="fa fa-info"></i>
                About
            </a>
        </li>
        <li>
            <a routerLink="/live-job-form">
                <i class="fa fa-clipboard"></i>
                Live Job Form
            </a>
        </li>
        <li>
            <a routerLink="/quote-form">
                <i class="fa fa-file-text"></i>
                Quote Form
            </a>
        </li>
        <li>
            <a routerLink="/future-job-form">
                <i class="fa fa-calendar"></i> Future Job Form
            </a>
        </li>
        <li>
            <a routerLink="/discount-form">
                <i class="fa fa-percent"></i> Discount Form
            </a>
        </li>
        <li>
            <a routerLink="/job-completion-form">
                <i class="fa fa-check-circle"></i> Completed Job Form
            </a>
        </li>
        
        
    </ul>
</nav>