<!-- services.component.html -->

<div class="container my-5">
    <div class="row">
      <!-- Service Item 1 -->
      <div class="col-lg-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-primary">Service 1</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis justo eu justo tincidunt interdum.
            </p>
          </div>
        </div>
      </div>
  
      <!-- Service Item 2 -->
      <div class="col-lg-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-primary">Service 2</h5>
            <p class="card-text">
              Sed quis ante at metus luctus bibendum. Maecenas pellentesque ut odio vel fermentum.
            </p>
          </div>
        </div>
      </div>
  
      <!-- Service Item 3 -->
      <div class="col-lg-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-primary">Service 3</h5>
            <p class="card-text">
              Nulla facilisi. Etiam bibendum libero sit amet nunc cursus, in vehicula sapien tincidunt.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  