<div class="container mt-5 mb-5">
    <div class="row align-items-center">
      <div class="col-md-8">
        <h1 class="display-4">Welcome to My Website</h1>
        <p class="lead">This is a simple home page created using Angular and Bootstrap.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id augue in nunc congue convallis.</p>
        <p>Suspendisse potenti. Proin quis urna nec purus ultricies sollicitudin. Fusce congue mauris et ante semper ultricies.</p>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="https://via.placeholder.com/250" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Featured Content</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a href="#" class="btn btn-primary btn-lg">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  
   
</div>
  

  